@model UserUpdateDTO
@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Edit Profile</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" placeholder="User Name"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
              <div class="form-group">
                <input type="submit" asp-action="Index" class="btn btn-sm btn-success float-right" value="Edit"/>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Home" class="btn btn-block btn-dark">Home</a>
    </div>
</div>